* {
    font-family:Arial, Helvetica, sans-serif;

}
.CuadroTit {
    margin-top: 20px;
    font-weight:bold;
    font-size:105%;
}
.CuadroSubTit {
    color: grey;
    font-size:95%;
}
.suave_ss {
    color: gray;
    padding: 10px;
    font-size: smaller;
}

.formulario {
    border-radius: 4px;
    border-style: ridge;
    
}
#apagar {
    border-radius: 5px;
    background-color: rgb(197, 218, 247);
    color: rgb(79, 79, 192);
    font-size: 90%;
    padding-top: 12px;
    padding-left: 20px;
    height: 47px;
}
.botonVde {
    background-color: rgba(159, 236, 43, 0.863);
    color: rgba(255, 255, 255, 0.966);
}




.logo{
    width: 160px;
    height: 80px;
}


.carouselItem{
    height: 680px;
    /* para que se achique  */
    flex-wrap: wrap; 
    justify-content: space-around;
}

.filtro{
    /* background-color: rgb(40, 38, 38); */
    /* opacity: 0.56; */
    filter: brightness(.6) 
             contrast(1.6);
}

.textCarousel {
    /* posición */
    position: absolute;
    top: 8px;
    right: 16px;

  }

.imgHawaii{
    width: 100%;
    height:fit-content;
}

footer{
    justify-content: space-between;
    background-color: #0b224b;
}
.w {
    top: 10%;
}
