* {
    font-family:Arial, Helvetica, sans-serif;

}
.CuadroTit {
    margin-top: 20px;
    font-weight:bold;
    font-size:105%;
}
.CuadroSubTit {
    color: grey;
    font-size:95%;
}
.suave_ss {
    color: gray;
    padding: 10px;
    font-size: smaller;
}

.formulario {
    border-radius: 4px;
    border-style: ridge;
    
}
#apagar {
    border-radius: 5px;
    background-color: rgb(197, 218, 247);
    color: rgb(79, 79, 192);
    font-size: 90%;
    padding-top: 12px;
    padding-left: 20px;
    height: 47px;
}
.botonVde {
    background-color: rgba(159, 236, 43, 0.863);
    color: rgba(255, 255, 255, 0.966);
}